body{
    font-size: 16px;
    margin: 16px;
}

@media (min-width: 768px){
    body{
        font-size: 17px;
        margin: 24px;
    }
}

@media (min-width: 1440px){
    body{
        font-size: 18px;
        margin: 2px;
    }
}